@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('global.css');

body {

    color: #fff;
}


.font-awesome-icons {
    background-color: var(--primaryColor);
    padding: 25px;
}

.font-awesome-icons i {
    font-size: 60px;
}


.montserrat-imed {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.p-one {
    color: #000;
}


.fa-footer {
    background-color: var(--primaryColor);
    padding: 25px;
}

.fa-footer i {
    color: #fff;
    font-size: 25px;
    margin: 15px;
}